body{
    margin:0px;
    
}

h4{
    font-family: titillium web, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:gray;
}

.hidden{
    display: none;
}


span{
    color:rgb(90, 30, 15);
    font-size: 90px;
    font-weight: 700px;
    margin-bottom: -20px;
}

.immagini_cerchi{
    height:40%;
    border-radius: 100%;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
}


#mulino_home{
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: -40px;
}

nav{
    height:15vh;
    display:flex;
    justify-content:space-around;
    background-color:#f8c352;
    
}

.modifica_logout{
    text-transform: uppercase;
    margin-right: 10px;
    font-family: titillium web, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #007a8c;
}

#container_modifica_logout{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



section{
    background-color:rgb(251, 247, 236);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center; 
    padding-bottom: 150px;
}

section a{
    text-decoration: none;
}


section h2{
    font-family:'Crimson Pro', sans-serif;
    text-align: center;
    color:rgb(90, 30, 15);
    font-size:48px;
    margin-bottom:-10px;
}
section h3{
    font-size:30px;
    font-family:'Crimson Pro', sans-serif;
    text-align:center;
    color:rgb(90, 30, 15);
}
section p{
    color: rgb(90, 30, 15);
    font-family: "titillium web", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    
}


#prodotti_e_recensioni{
    margin-top: 30px;
    background-color: #ffedae;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px; 
    padding-bottom: 30px;
}

.container_bianco{
    background-color: white;
    width: 50%;
    padding: 0 70px;
    margin: 51px 20px 30px 20px;
    
}

.a_button{
    border-radius:20px;
    padding:12px 48px;
    font-family: "titillium web", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
}

.sfondo_grigio{
    background-color:#007a8c;
    color: #fbf7ec;
    
}

.sfondo_blu{
    background-color:rgb(85, 27, 17);
    color: white;
    margin-left: 10px;
    font-weight: 700;
}


a.a_button:hover{
    background-color: black;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    width:60%;
    margin-bottom: 10px;
}

form p{
    text-align: left;
    width:90%;
}


.testo_form{
    width:90%;
    
    height: 40px;
    border-radius: 4px;
    border: 1px solid #bcb6af;
    font-family: titillium web, sans-serif;
    background-color: transparent;
    font-family: titillium web, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 18px;
    font-size: 20px;
    color:#bcb6af;
    
}



a.sottolineato :hover{
    text-decoration:underline;
}



#mio_profilo{
    border-top:1px solid lightblue;
    margin-top: 50px;
}

#mio_profilo p{
    text-align: left;
}


#container_barilla{
    margin-top: 150px;
    width: 60%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container_barilla p{
    text-align: left;
}

#container_barilla div{
    display: flex;
    
    width: 45%;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#container_barilla div img{
    height: 50px;
    width: 100px;
    margin:10px 25px;
    
}

footer{
    background-color: rgb(251, 247, 236);
    
}


footer p{
    color:rgb(77, 25, 0);
    font-family: "titillium web", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    line-height: 14px;
    
}
footer a{
    color:rgb(77, 25, 0);
}

.div_sopra{
    display:flex;
    flex-direction:column;
    align-items: center;
}

div.div_sopra img{
    width:12%;
    margin-top:-50px;
}
#div_contatti{
    width:55%;
    margin:20px 10px 3px 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#div_contatti a{
    text-decoration:none;
    
}
.div_ricette{
    width:70%;
    margin:-18px 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.div_pan_di_stelle{
    margin-top:10px;
    margin-bottom:20px;
    width: 23%;
    text-align: center;
}

.div_pan_di_stelle p{

    font-family: "titillium web", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 12px;
    
}

.div_pan_di_stelle a{
    text-decoration: none;
    color: rgb(0, 122, 194);
}




#div_gestisci{
    border:1px solid rgb(104, 182, 49);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:22px;
    padding-right:22px;
    text-align: center;
    color:rgb(104, 182, 49);
}


#div_gestisci:hover{
    background-color:rgb(104, 182, 49);
    color:white;
}



#div_social{
    height:70px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:rgb(77,25,0);
}


#div_social img{
    margin: 10px 40px;
    height:40px;
    width:40px;
}


#visualizza_prodotti_mulino{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div_da_visualizzare_prodotti{
    height:300px;
    width:300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 237, 174); 
    margin: 20px;
       
}
.immagine_prodotto{
    width:200px;
    height:200px;
   
}

.immagine_cuore{
    border-radius: 50%;
    height:40px;
    width:40px;
    position:relative;
    left:115px;
    top:10px;
}

div.div_da_visualizzare_prodotti p{
    font-size: 18px;
    font-family: titillium web, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #5a1e0f;
}

