body{
    margin:0px;
    
}

span{
    color:rgb(90, 30, 15);
    font-size: 90px;
    font-weight: 700px;
    margin-bottom: -20px;
}

.immagini_cerchi{
    height:40%;
    border-radius: 100%;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    
}

#sfondo_header_e_nav{
    background-image:url("https://www.mulinobianco.it/origin0/v3/upl/entities/page/header_prodotti_no%20logo_2.jpg");
    background-size: cover;
}


nav{
    height:15vh;
    display:flex;
    justify-content:space-around;
    
    
}
header{
    height:40vh;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#immagine_omino{
    height:50px;
    width:50px;
    border-radius:100%;
    position:fixed;
    left:10px;
    bottom: 10px;
}

section{
    background-color:rgb(251, 247, 236);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    
}
.div_section{
    margin-top: 20px;
    margin-bottom: 20px;
    width:60%;
    text-align:center;
    
}



section h2{
    font-family:'Crimson Pro', sans-serif;
    text-align: center;
    color:rgb(90, 30, 15);
    font-size:48px;
    margin-bottom:-10px;
    
    
}
section h3{
    font-size:30px;
    font-family:'Crimson Pro', sans-serif;
    text-align:center;
    color:rgb(90, 30, 15);
}
section p{
    color: rgb(90, 30, 15);
    font-family: "titillium web", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.a_button{
    border-radius:20px;
    background-color:rgb(85, 27, 17);
    padding:12px 48px;
    color: white;
    font-family: "titillium web", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 5px;
}

a.a_button:hover{
    background-color: black;
}

section a{
    text-decoration:none;
}




.div_larghezza_ridotta{
    width:65%;
    text-align: center;
}

.img_menu{
    width:100%;
}



div.div_larghezza_ridotta div{
    
    width:50%;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:15px;
}

div.div_larghezza_ridotta div img{
    margin-top:-30px;
    height:220px;
    width:320px;
    
}

#div4{
    background-color: rgb(255, 237, 174);
    width:100%;
    margin-top: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#div4 h2{
    margin:-5px;
}

#div4 div{
    width:60%;
    display:flex;
    
}



.white_div{
    background-color: white;
    margin:15px 35px 90px 70px;
    padding:20px 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div.white_div img{
    background-color: rgb(255, 237, 174);
    margin:10px;
    
}

footer{
    background-color: rgb(251, 247, 236);
}


footer p{
    color:rgb(77, 25, 0);
    font-family: "titillium web", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    line-height: 14px;
    
}
footer a{
    color:rgb(77, 25, 0);
}

.div_sopra{
    display:flex;
    flex-direction:column;
    align-items: center;
}

div.div_sopra img{
    width:12%;
    margin-top:-50px;
}
#div_contatti{
    width:55%;
    margin:20px 10px 3px 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#div_contatti a{
    text-decoration:none;
    
}
.div_ricette{
    width:70%;
    margin:-18px 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.div_pan_di_stelle{
    margin-top:10px;
    margin-bottom:20px;
    width: 23%;
    text-align: center;
}

.div_pan_di_stelle p{

    font-family: "titillium web", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 12px;
    
}

.div_pan_di_stelle a{
    text-decoration: none;
    color: rgb(0, 122, 194);
}




#div_gestisci{
    border:1px solid rgb(104, 182, 49);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:22px;
    padding-right:22px;
    text-align: center;
    color:rgb(104, 182, 49);
}


#div_gestisci:hover{
    background-color:rgb(104, 182, 49);
    color:white;
}



#div_social{
    height:70px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:rgb(77,25,0);
}


#div_social img{
    margin: 10px 40px;
    height:40px;
    width:40px;
}




#visualizza_prodotti_mulino{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div_da_visualizzare_prodotti{
    height:300px;
    width:300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 237, 174); 
    margin: 20px;
       
}
.immagine_prodotto{
    width:200px;
    height:200px;
   
}

.immagine_cuore{
    border-radius: 50%;
    height:40px;
    width:40px;
    position:relative;
    left:115px;
    top:10px;
}

div.div_da_visualizzare_prodotti p{
    font-size: 18px;
    font-family: titillium web, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #5a1e0f;
}

